body {
    color: #e0d5e2;
    font-family: 'Raleway', sans-serif;
}

.note-editor {
    width: 100%;
    height: 100%;
}

.note-editing-area {
    width: 100%;
    height: 100%;
}

.note-editable {
    width: 100%;
    height: 100%;
    color: #e0d5e2 ; 
    background-color: #836c89 ;
    font-family: 'Raleway', sans-serif;
}

.titlebar {
    position: absolute;
    z-index: 100;
    height: 28px;
    width: 100%;
    top: 0%;
    padding-right: 7px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.titlebarButton {
    float: right;
    padding: 5px;
    margin: 5px;
    width: 18px;
    height: 18px;
    opacity: 0.4;
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    -webkit-app-region: no-drag;
}

.titlebarButton:hover {
    opacity: 1;
}

.icon-x {
    mask: url(x.svg);
    -webkit-mask: url(x.svg);
}

.icon-- {
    mask: url(-.svg);
    -webkit-mask: url(-.svg);
}

.dateDisplay {
    position: absolute;
    top: 20px;
    left: 25px;
}

::-webkit-scrollbar {
    display: none;
}
.entry {
    position: absolute;
    top: 30px;
    bottom: 3%;
    padding-top: 24px;
    left: 40px;
    right: 200px;
    overflow-y: auto;
}

.calendar {
    position: absolute;
    top: 30px;
    padding-top: 24px;
    bottom: 3%;
    width: 150px;
    right: 15px;
    display: table;
}

.monthCol {
    position: relative;
    top: 0%;
    height: 100%;
    float: left;
}

.day {
    position: relative;
    background-color: #a99aad;
    margin: 2px;
    width: 8px;
    height: 8px;
    border-radius: 2px;
}

.monthLetter {
    text-align: center;
    font-size: 12px;
    margin-bottom: -2px;
}

.yearSelection {
    position: absolute;
    top: 30px;
    width: 150px;
    right: 15px;
}

.loadScreen {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}

.yearButtonHolder {
    margin: auto;
    width: fit-content;
    display: flex;
}

.yearButton {
    margin: 5px;
    text-align: center;
    background-color: black;
    height: 15px;
    width: 15px;
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.yearButtonLeft {
    mask: url(leftArrrow.svg);
    -webkit-mask: url(leftArrrow.svg);
}

.yearButtonRight {
    mask: url(rightArrow.svg);
    -webkit-mask: url(rightArrow.svg);
}

.yearDisplay {
    margin: 2px;
    text-align: center;
    width: 40px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }