@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-VariableFont_wght.ttf');
}

body {
    color: #e0d5e2;
    font-family: 'Raleway', sans-serif;
}

.note-editor {
    width: 100%;
    height: 100%;
}

.note-editing-area {
    width: 100%;
    height: 100%;
}

.note-editable {
    width: 100%;
    height: 100%;
    color: #e0d5e2 ; 
    background-color: #836c89 ;
    font-family: 'Raleway', sans-serif;
}

.titlebar {
    position: absolute;
    z-index: 100;
    height: 28px;
    width: 100%;
    top: 0%;
    padding-right: 7px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.titlebarButton {
    float: right;
    padding: 5px;
    margin: 5px;
    width: 18px;
    height: 18px;
    opacity: 0.4;
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    -webkit-app-region: no-drag;
}

.titlebarButton:hover {
    opacity: 1;
}

.icon-x {
    mask: url(x.svg);
    -webkit-mask: url(x.svg);
}

.icon-- {
    mask: url(-.svg);
    -webkit-mask: url(-.svg);
}

.icon-dot {
    mask: url(dot.svg);
    -webkit-mask: url(dot.svg);
    margin: auto;
    margin-left: 6px;
    width: 4px;
    height: 4px;
    opacity: 0.4;
}

.icon-settings {
    mask: url(settings.svg);
    -webkit-mask: url(settings.svg);
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    right: 5px;
}

.icon-settingsBack {
    display: table-cell;
    float: left;
    mask: url(back.svg);
    -webkit-mask: url(back.svg);
}

.dateDisplay {
    display: flex;
    position: absolute;
    top: 20px;
    left: 25px;
}

.dateDisplayEntry {
    flex-grow: 1;
}

::-webkit-scrollbar {
    display: none;
}



.settings {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    display: table-row;
    padding: 40px;

}

.settingsContent {
    position: absolute;
    top: 50px;
    left: 60px;
    bottom: 50px;
    right: 20px;
    display: flex;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;

    line-height: 30px;
}

.settingsItems {
    flex: 0.7;
    overflow-y: auto;
}

.settingsDescription {
    flex: 0.3;
    padding-left: 40px;
    padding-right: 10px;
    line-height: 20px;
}

.settingsEntry {
    width: 100%;
}

.alignLeft {
    position: absolute;
    left: 0px;
    width: 50%;
}

.alignRight {
    position: absolute;
    width: 50%;

    right: 0px;
    text-align: right;
}


.entry {
    position: absolute;
    top: 30px;
    bottom: 3%;
    padding-top: 24px;
    left: 40px;
    right: 200px;
    overflow-y: auto;
}

.calendar {
    position: absolute;
    top: 30px;
    padding-top: 24px;
    bottom: 3%;
    width: 150px;
    right: 15px;
    display: table;
}

.monthCol {
    position: relative;
    top: 0%;
    height: 100%;
    float: left;
}

.day {
    position: relative;
    background-color: #a99aad;
    margin: 2px;
    width: 8px;
    height: 8px;
    border-radius: 2px;
}

.monthLetter {
    text-align: center;
    font-size: 12px;
    margin-bottom: -2px;
}

.yearSelection {
    position: absolute;
    top: 30px;
    width: 150px;
    right: 15px;
}

.loadScreen {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}

.yearButtonHolder {
    margin: auto;
    width: fit-content;
    display: flex;
}

.yearButton {
    margin: 5px;
    text-align: center;
    background-color: black;
    height: 15px;
    width: 15px;
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.yearButtonLeft {
    mask: url(leftArrrow.svg);
    -webkit-mask: url(leftArrrow.svg);
}

.yearButtonRight {
    mask: url(rightArrow.svg);
    -webkit-mask: url(rightArrow.svg);
}

.yearDisplay {
    margin: 2px;
    text-align: center;
    width: 40px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }